#Git files
.git

#Grunt developer
node_modules

#Sass directory
css/src/sass/.sass-cache
.sass-cache

#Bower update
bower

#Files
lang/ItalyStrap.po
lang/ItalyStrap.mo
*.zip

#Temp file
.gitattributes
#.gitignore

#bower.json
lib/roadmap.php
lib/01-hook-schema.php
lang/README.txt

tests