#Git files
.git

#Grunt developer
node_modules

#Sass directory
sass/.sass-cache
sass
.sass-cache

#Bower
bower

#Files
*.zip

#Temp file
.gitattributes

#bower.json

tests*
codecept*
backups

#map files
*.map

vendor
_others

#Travis
.env
*.local
.travis.yml
