#Git files
.git

#Grunt developer
node_modules

#Sass directory
sass/.sass-cache
sass
.sass-cache

#Bower
bower

#Files
*.zip

#Temp file
.gitattributes

#bower.json

#map files
*.map

vendor
_others

#tests*
*.bat
codeception.yml
backups

#Travis
#.env
*.local
#.travis.yml

*.lock
