{
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "text": "php://stdout"
  },
  "timeout": 10,
  "mutators": {
    "@default": true
  },
  "tmpDir": "\/tests\/_output",
  "testFramework": "codeception",
  "testFrameworkOptions": "--skip=wpunit --skip=acceptance --skip=functional"
}