#$ composer update --optimize-autoloader
#$ vendor/bin/phpstan analyze

includes:
    # @see https://github.com/phpstan/phpstan/blob/master/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    paths:
        - %currentWorkingDirectory%/src/
    excludes_analyse:
        - %currentWorkingDirectory%/src/Admin/
        - %currentWorkingDirectory%/src/Asset/
        - %currentWorkingDirectory%/src/Components/
        - %currentWorkingDirectory%/src/Css/
        - %currentWorkingDirectory%/src/Custom/
        - %currentWorkingDirectory%/src/Customizer/
        - %currentWorkingDirectory%/src/Event/
        - %currentWorkingDirectory%/src/Navbar/
        - %currentWorkingDirectory%/src/User/
    autoload_files:
        # Procedural code
        - %currentWorkingDirectory%/functions/autoload.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
        - '#Access to an undefined property ItalyStrap\\Config\\Config::\$[a-zA-Z0-9_]+#'
        - '#Access to an undefined property ItalyStrap\\Config\\ConfigInterface::\$[a-zA-Z0-9_]+#'
        - '#Class ItalyStrap\\Migrations\\Old_Hooks not found#'
        - '#Argument of an invalid type ItalyStrap\\Config\\[a-zA-Z_]+ supplied for foreach, only iterables are supported.#'
        - '#Function new_cmb2_box not found#'
