#$ composer update --optimize-autoloader
#$ vendor/bin/phpstan analyze

includes:
    # @see https://github.com/phpstan/phpstan/blob/master/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 0
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    excludes_analyse:
        - %currentWorkingDirectory%/src/Customizer/settings/
    autoload_files:
        # Procedural code
        - %currentWorkingDirectory%/functions/autoload.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
        - '#Access to an undefined property ItalyStrap\\Config\\Config::\$[a-zA-Z0-9_]+#'
        - '#Access to an undefined property ItalyStrap\\Config\\ConfigInterface::\$[a-zA-Z0-9_]+#'
