//
// Variables
// --------------------------------------------------

$spacer: 1rem !default;

//$icon-font-path: '../fonts/';

// Riga 52
$font-size-base:          1.05rem;

// Tutte le aggiunte ulteriori a bootstrap
$general_margin: $font-size-base * 2; // 36px