//.margin-top-xs{
//	margin-top: $general_margin;
//}
//.margin-top-sm{
//	margin-top: $general_margin * 2;
//}
//.margin-top-md{
//	margin-top: $general_margin * 3;
//}
//.margin-top-lg{
//	margin-top: $general_margin * 4;
//}



// body {
	// padding-top: 100px;
	// padding-bottom: 70px;
	// @include at-least(tablet-landscape) {
	// 	padding-bottom: 0;
	// }
// }

// .wrapper{
	// @include at-least( tablet-landscape ) {
	// 	padding: 0 20px;
	// }
	// @include at-least( laptop ) {
	// 	padding: 0 2%;
	// }
	// @include at-least( desktop ) {
	// 	padding: 0 6%;
	// }
// }

// $devices: (
//     mobile-landscape: $screen-xs,
//     tablet: $screen-sm,
//     tablet-landscape: $screen-md,
//     laptop: $screen-lg,
//     desktop: 1440px
// ) !default;


// p{
// 	margin-bottom: $line-height-computed; //(20px)
// }


// main
// {
// 	padding-top: $general_margin * 3;
// 	padding-bottom: $general_margin * 3;
// }
// .wrapper{
// 	> section{
// 		padding-top: $general_margin * 3;
// 		padding-bottom: $general_margin * 3;
// 	}
// }
// footer{
// 	> .container{
// 		padding-top: $general_margin;
// 		padding-bottom: $general_margin;
// 	}
// }

// .entry-content,
// .author-info
// {
// 	padding-bottom: $general_margin;
// }

// .comments-area{
// 	.comment{
// 		margin-bottom: $general_margin;
// 	}
// 	.children{
// 		margin-bottom: $general_margin;
// 		margin-left: $general_margin;
// 		margin-top: $general_margin;
// 	}
// }
// .site-footer{
// 	padding-top: $general_margin;
// }
// .colophon
// {
// 	padding-top: $general_margin;
// 	padding-bottom: $general_margin;
// }

// .blog{
// 	.entry-title{
// 		margin-top: 0;
// 	}
// }

// main{
// 	.col-md-8{
// 		padding: $general_margin;
// 	}
// 	.col-md-4{
// 		padding: $general_margin;
// 	}
// 	.page-header{
// 		margin-top: 0;
// 	}
// 	.entry-title{
// 		margin-top: 0;
// 	}
// }

// aside{
// 	.widget-title:first-child{
// 		margin-top: 0;
// 	}
// }