/* New class to hide content with max-width: 480px*/
// @media ( max-width:479px ){
// 	.hidden-xxs{
// 		display:none !important
// 	}
// }

.boxed {
	margin-left: auto;
	margin-right: auto;
	@include is-make-container( $spacer * 3 );


	//@include breakpoint( $screen-sm-min ) {
	//	width: $container-sm;
	//}
	//@include breakpoint( $screen-md-min ) {
	//	width: $container-md;
	//}
	//@include breakpoint( $screen-lg-min ) {
	//	width: $container-lg;
	//}
	//@include media-breakpoint-up( $grid-breakpoints(sm) ) {
	//	width: $grid-breakpoints(sm);
	//}
	//@include breakpoint( $screen-md-min ) {
	//	width: $container-md;
	//}
	//@include breakpoint( $screen-lg-min ) {
	//	width: $container-lg;
	//}
}