/**
 * @fix
 * This is only for transitioning of the comments to the FSE
 Remember to remove this when FSE is fully integrated
 Testing:
 Go to http://italystrap.test/template-comments/
 And see if the comments are right positioned without avatar to overlap
 left border respect of the content.
 */
.wp-block-post-comments {
    max-width: calc( 700px - 3.25em );
    margin-left: auto !important;
    margin-right: auto !important;
}
