.d-block {
    display: block;
}

.mx-auto {
    margin-inline: auto;
}

.float-left,
.pull-left {
    float: left;
}

.float-right,
.pull-right {
    float: right;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}
