/* CSS SPRITE ICONE SOCIALI Pagina Autore*/
$height:64px;
$width:64px;

.sprite{
  background:url("../assets/img/css_sprite_social_icon.jpg") no-repeat !important;
  display: block;
  height:$height;
  width:$width;
}
.twitter{
  background-position:0 0 !important;
}
.facebook{
  background-position:(-$width) 0 !important;
}
.googleplus{
  background-position: (-$width * 2) 0 !important;
}
.skype{
  background-position: (-$width * 3) 0 !important;
}
.googlepage{
  background-position: (-$width * 4) 0 !important;
}
.linkedin{
  background-position: (-$width * 5) 0 !important;
}
.pinterest{
  background-position: (-$width * 6) 0 !important;
}

/* CSS SPRITE ICONE SOCIALI Autore articoli*/
$height32:32px;
$width32:32px;

.sprite32{
  background:url("../assets/img/css_sprite_admin_comment_x32.png") no-repeat !important;
  display: block;
  height:$height32;
  width:$width32;
}
.twitter32{
  background-position: 0 0 !important;
}
.facebook32{
  background-position: (-$width32 - 2) 0 !important;
}
.googleplus32{
  background-position: ((-$width32 - 2) * 2) 0 !important;
}
.skype32{
  background-position: ((-$width32 - 2) * 3) 0 !important;
}
.googlepage32{
  background-position: ((-$width32 - 2) * 4) 0 !important;
}
.linkedin32{
  background-position: ((-$width32 - 2) * 5) 0 !important;
}
.pinterest32{
  background-position: ((-$width32 - 2) * 6) 0 !important;
}