<!-- wp:group {"layout":{"inherit":true},"tagName":"header"} -->
<header class="wp-block-group">

    <!-- wp:post-title {"level":1,"align":"wide"} /-->

    <!-- wp:separator {"align":"wide"} -->
    <hr class="wp-block-separator alignwide"/>
    <!-- /wp:separator -->

</header>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
    <!-- wp:query-title {"type":"archive"} /-->
    <!-- wp:term-description {"type":"archive"} /-->
</div>
<!-- /wp:group -->