@import 'menu';
@import 'sprite';
@import 'comment-form';
@import 'fix';
@import 'new-class';
@import 'wordpressCss';

@import 'gallery';

$margin25: 25px;
.margin-bottom-25{
  margin-bottom:$margin25;
}
.margin-top-25{
  margin-top:$margin25;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.padding-15{
  padding: 15px;
}
.margin-dx-0{
  margin-right:0;
}
.bg-color-author{
  background-color: #f2f2f2;
}